body {
    font-family: Arial, sans-serif;
    background-color: purple;
    margin: 0;
    padding: 0;
}

.poll-container {
    max-width: 600px;
    margin: 100px auto;
    padding: 50px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
}

form {
    margin-bottom: 20px;
}

label {
    font-size: 18px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.results {
    text-align: center;
}

.results p {
    font-size: 16px;
    margin: 5px 0;
}